In [0]:
# IMPORTS ON START OF LINE
# IMPORT DATATYPES

# import spark at start of line & create a spark variable
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql import *
spark = SparkSession.builder.getOrCreate()

# import datatypes
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [0]:
# LOADING CSV/JSON & OTHER TYPES OF FILES + CREATING DF ON THE LOADED FILES
# OPTIONS OF LOADING THE FILES 

# Import csv
df1=spark.read.option('header', 'true').csv('/FileStore/tables/employees_new.csv',inferSchema=True)
df1.show()

df2=spark.read.option('header', 'true').csv('/FileStore/tables/departments.csv',inferSchema=True)
df2.show()

# Import json
# df1 = spark.read.load("/FileStore/tables/employees.json")
# df1 = spark.read.load("/FileStore/tables/employees.json", format="json")

# Import parquet
# df1 = spark.read.load("/FileStore/tables/employees.parquet")
# df1 = spark.read.load("/FileStore/tables/employees.parquet", format="parquet")

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-------------+--------------------+----------+-----------+
|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-------------+--------------------+----------+-----------+
|           10|      Administration|       200|       1700|
|           20|           Marketing|       201|       1800|
|           30|          Purchasing|       114|       1700|
|           40|     Human Resources|       203|       2400|
|           50|            Shipping|       121|       1500|
|           60|                  IT|       103|       1400|
|           70|    Public Relations|       204|       2700|
|           80|               Sales|       145|       2500|
|           90|           Executive|       100|       1700|
|          100|             Finance|       108|       1700|
|          110|          Accounting|       205|       1700|
|          120|            Treasury|        - |       1700|
|          130|       Corporate Tax|        - |       1700|
|          140|  Control And Credit|        - |       1700|
|          150|Shareholder Services|        - |       1700|
|          160|            Benefits|        - |       1700|
|          170|       Manufacturing|        - |       1700|
|          180|        Construction|        - |       1700|
|          190|         Contracting|        - |       1700|
|          200|          Operations|        - |       1700|
+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [0]:
# CREATING DATAFRAMES MANUALLY

# Create dataframes manually
data = [('James', 'Sales', 3000),
	    ('Michael', 'Sales', 4600),
	    ('Robert', 'Sales', 4100)]
columns = ["Employee", "Department", "Salary"]
df_manual_create = spark.createDataFrame(data, columns)
df_manual_create.show()

+--------+----------+------+
|Employee|Department|Salary|
+--------+----------+------+
|   James|     Sales|  3000|
| Michael|     Sales|  4600|
|  Robert|     Sales|  4100|
+--------+----------+------+

In [0]:
# INSPECTING DATA
# CHECKING DF TYPES
# USING SHOW
# USING PRINTSCHEMA

# Return dataframe's column names and dataypes
df1.dtypes

# Display the content of df1
df1.show()

# Return first n rows
df1.head(10)

# Return first row
df1.first()

# Return the first n rows df1.schema
df1.take(2)

# Compute summary statistics df1.columns Return the columns of df1
df1.describe().show()

# Count the number of rows in df1
df1.count()

# Count the number of distinct rows in df1
df1.distinct().count()

# Print the schema of df1
df1.printSchema()

# Print the (logical and physical) plans
df1.explain()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-------+------------------+----------+---------+------+------------+---------+----------+-----------------+--------------+------------------+-----------------+
|summary|       EMPLOYEE_ID|FIRST_NAME|LAST_NAME| EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|           SALARY|COMMISSION_PCT|        MANAGER_ID|    DEPARTMENT_ID|
+-------+------------------+----------+---------+------+------------+---------+----------+-----------------+--------------+------------------+-----------------+
|  count|                50|        50|       50|    50|          50|       50|        50|               50|             0|                49|               50|
|   mean|            134.76|      null|     null|  null|        null|     null|      null|          6182.32|          null|114.83673469387755|             57.6|
| stddev|33.631593504213456|      null|     null|  null|        null|     null|      null|4586.181771631927|          null|20.591611296406914|25.11686968666962|
|    min|               100|      Adam| Atkinson|AFRIPP|515.123.4444|01-MAY-03|AC_ACCOUNT|             2100|          null|               100|               10|
|    max|               206|   William|   Whalen|WGIETZ|650.507.9844|30-SEP-05|    ST_MAN|            24000|          null|               205|              110|
+-------+------------------+----------+---------+------+------------+---------+----------+-----------------+--------------+------------------+-----------------+

root
 |-- EMPLOYEE_ID: integer (nullable = true)
 |-- FIRST_NAME: string (nullable = true)
 |-- LAST_NAME: string (nullable = true)
 |-- EMAIL: string (nullable = true)
 |-- PHONE_NUMBER: string (nullable = true)
 |-- HIRE_DATE: string (nullable = true)
 |-- JOB_ID: string (nullable = true)
 |-- SALARY: integer (nullable = true)
 |-- COMMISSION_PCT: string (nullable = true)
 |-- MANAGER_ID: integer (nullable = true)
 |-- DEPARTMENT_ID: integer (nullable = true)

== Physical Plan ==
FileScan csv [EMPLOYEE_ID#14711,FIRST_NAME#14712,LAST_NAME#14713,EMAIL#14714,PHONE_NUMBER#14715,HIRE_DATE#14716,JOB_ID#14717,SALARY#14718,COMMISSION_PCT#14719,MANAGER_ID#14720,DEPARTMENT_ID#14721] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[dbfs:/FileStore/tables/employees_new.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<EMPLOYEE_ID:int,FIRST_NAME:string,LAST_NAME:string,EMAIL:string,PHONE_NUMBER:string,HIRE_D...

In [0]:
# SELECTING COLUMNS - SELECTING ALL & ONLY SELECT COLUMNS

df1.select('*').show()
df1.select('EMPLOYEE_ID', 'FIRST_NAME').show()
df1.select(df1.EMPLOYEE_ID, df1.FIRST_NAME).show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+----------+
|EMPLOYEE_ID|FIRST_NAME|
+-----------+----------+
|        198|    Donald|
|        199|   Douglas|
|        200|  Jennifer|
|        201|   Michael|
|        202|       Pat|
|        203|     Susan|
|        204|   Hermann|
|        205|   Shelley|
|        206|   William|
|        100|    Steven|
|        101|     Neena|
|        102|       Lex|
|        103| Alexander|
|        104|     Bruce|
|        105|     David|
|        106|     Valli|
|        107|     Diana|
|        108|     Nancy|
|        109|    Daniel|
|        110|      John|
+-----------+----------+
only showing top 20 rows

+-----------+----------+
|EMPLOYEE_ID|FIRST_NAME|
+-----------+----------+
|        198|    Donald|
|        199|   Douglas|
|        200|  Jennifer|
|        201|   Michael|
|        202|       Pat|
|        203|     Susan|
|        204|   Hermann|
|        205|   Shelley|
|        206|   William|
|        100|    Steven|
|        101|     Neena|
|        102|       Lex|
|        103| Alexander|
|        104|     Bruce|
|        105|     David|
|        106|     Valli|
|        107|     Diana|
|        108|     Nancy|
|        109|    Daniel|
|        110|      John|
+-----------+----------+
only showing top 20 rows

In [0]:
# ADDING COLUMNS OF DF
# RENAMING COLUMNS OF DF
# DROPPING COLUMNS OF DF

# Adding columns - filled with null values
df_add_column1 = df1.withColumn('STATUS', lit(None))
df_add_column1.show()
 
# Adding columns - filled with derived values, use concat_ws to separate the column values, the first parameter is the spacer, in this case, an empty space
df_add_column2 = df1.withColumn('FULL_NAME', concat_ws(' ', df1.FIRST_NAME, df1.LAST_NAME))
df_add_column2.show()

# Renaming columns
df_rename_column1 = df1.withColumnRenamed('FIRST_NAME', 'FIRST_NAME_REN')
df_rename_column1.show()
 
# Removing columns
df_drop_column1 = df1.drop('FIRST_NAME', 'LAST_NAME')
df_drop_column1.show()
df_drop_column2 = df1.drop(df1.FIRST_NAME).drop(df1.LAST_NAME)
df_drop_column2.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|STATUS|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|  null|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|  null|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|  null|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|  null|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|  null|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|  null|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|  null|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|  null|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|  null|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|  null|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|  null|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|  null|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|  null|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|  null|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|  null|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|  null|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|  null|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|  null|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|  null|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|  null|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-----------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|        FULL_NAME|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-----------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|  Donald OConnell|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|    Douglas Grant|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|  Jennifer Whalen|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|Michael Hartstein|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|          Pat Fay|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|     Susan Mavris|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|     Hermann Baer|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|  Shelley Higgins|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|    William Gietz|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|      Steven King|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|    Neena Kochhar|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|      Lex De Haan|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60| Alexander Hunold|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|      Bruce Ernst|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|     David Austin|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|  Valli Pataballa|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|    Diana Lorentz|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|  Nancy Greenberg|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|    Daniel Faviet|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|        John Chen|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+-----------------+
only showing top 20 rows

+-----------+--------------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME_REN|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+--------------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|        Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|       Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|      Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|       Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|           Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|         Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|       Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|       Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|       William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|        Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|         Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|           Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103|     Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|         Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|         David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|         Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|         Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|         Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|        Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|          John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+--------------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [0]:
# HANDLING NULL VAULES
    # - DROP ROWS WITH NULL VALUES WHEN ALL VALUES OF THE ROWS IS NULL
    # - DROP ROWS WITH NULL VALUES WHEN SOME VALUES OF THE ROWS IS NULL & LIMIT IT WITH THRESH()
    # - FILLING NULL VALUES WITH .FILL()
    
# Drop rows with any null value in the row
df_drop_row1 = df1.na.drop(how='any')
df_drop_row1.show()

# Drop rows where all of the values of the row is null
df_drop_row2 = df1.na.drop(how='all')
df_drop_row2.show()

# Drop rows where 2 or more of the values on the row is non-null
df_drop_row3 = df1.na.drop(how='any',thresh=2)
df_drop_row3.show()

# Drop rows if there are any null values on the rows only on the specified column using subset
df_drop_row4 = df1.na.drop(how='any', subset='COMMISSION_PCT')
df_drop_row4.show()

# Filling any null values with a specified value
df_fill_null_values1 = df1.na.fill('Missing Values')
df_fill_null_values1.show()

# Filling null values on specific columns with a value
df_fill_null_values2 = df1.na.fill({'COMMISSION_PCT': 'A', 'MANAGER_ID': 999})
df_fill_null_values2.show()

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|EMAIL|PHONE_NUMBER|HIRE_DATE|JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+
+-----------+----------+---------+-----+------------+---------+------+------+--------------+----------+-------------+

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|Missing Values|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|Missing Values|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|Missing Values|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|Missing Values|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|Missing Values|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|Missing Values|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|Missing Values|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|Missing Values|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|Missing Values|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|Missing Values|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|Missing Values|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|Missing Values|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|Missing Values|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|Missing Values|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|Missing Values|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|Missing Values|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|Missing Values|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|Missing Values|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|Missing Values|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|Missing Values|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|             A|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|             A|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|             A|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|             A|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|             A|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|             A|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|             A|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|             A|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|             A|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|             A|       999|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|             A|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|             A|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|             A|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|             A|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|             A|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|             A|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|             A|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|             A|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|             A|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|             A|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [0]:
# FILTER OPERATIONS
# USING &, |, ==
# USING ~
# USING LIKE
# USING BETWEEN
# USING SUBSTRING

# Filter with Select
df1.filter(df1.SALARY>=5000).select('EMPLOYEE_ID', 'FIRST_NAME', 'SALARY').show()

# Filter with 'AND'
df1.filter((df1.DEPARTMENT_ID == 50) & (df1.MANAGER_ID  == 124)).select('EMPLOYEE_ID', 'FIRST_NAME', 'SALARY', 'DEPARTMENT_ID', 'MANAGER_ID').show()

# Filter with 'OR'
df1.filter((df1.DEPARTMENT_ID == 50) | (df1.MANAGER_ID  == 124)).select('EMPLOYEE_ID', 'FIRST_NAME', 'SALARY', 'DEPARTMENT_ID', 'MANAGER_ID').show()

# Filtering with 'Like'
df1.filter(df1.FIRST_NAME.like('Do%')).show()
 
# Filtering with 'Between'
df1.select("FIRST_NAME","SALARY").where(df1.SALARY.between(3000, 5000)).show()

# Filtering with 'Substring'
df1.select(substring(df1.FIRST_NAME, 1, 2)).show()

+-----------+-----------+------+
|EMPLOYEE_ID| FIRST_NAME|SALARY|
+-----------+-----------+------+
|        201|    Michael| 13000|
|        202|        Pat|  6000|
|        203|      Susan|  6500|
|        204|    Hermann| 10000|
|        205|    Shelley| 12008|
|        206|    William|  8300|
|        100|     Steven| 24000|
|        101|      Neena| 17000|
|        102|        Lex| 17000|
|        103|  Alexander|  9000|
|        104|      Bruce|  6000|
|        108|      Nancy| 12008|
|        109|     Daniel|  9000|
|        110|       John|  8200|
|        111|     Ismael|  7700|
|        112|Jose Manuel|  7800|
|        113|       Luis|  6900|
|        114|        Den| 11000|
|        120|    Matthew|  8000|
|        121|       Adam|  8200|
+-----------+-----------+------+
only showing top 20 rows

+-----------+----------+------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|SALARY|DEPARTMENT_ID|MANAGER_ID|
+-----------+----------+------+-------------+----------+
|        198|    Donald|  2600|           50|       124|
|        199|   Douglas|  2600|           50|       124|
+-----------+----------+------+-------------+----------+

+-----------+----------+------+-------------+----------+
|EMPLOYEE_ID|FIRST_NAME|SALARY|DEPARTMENT_ID|MANAGER_ID|
+-----------+----------+------+-------------+----------+
|        198|    Donald|  2600|           50|       124|
|        199|   Douglas|  2600|           50|       124|
|        120|   Matthew|  8000|           50|       100|
|        121|      Adam|  8200|           50|       100|
|        122|     Payam|  7900|           50|       100|
|        123|    Shanta|  6500|           50|       100|
|        124|     Kevin|  5800|           50|       100|
|        125|     Julia|  3200|           50|       120|
|        126|     Irene|  2700|           50|       120|
|        127|     James|  2400|           50|       120|
|        128|    Steven|  2200|           50|       120|
|        129|     Laura|  3300|           50|       121|
|        130|     Mozhe|  2800|           50|       121|
|        131|     James|  2500|           50|       121|
|        132|        TJ|  2100|           50|       121|
|        133|     Jason|  3300|           50|       122|
|        134|   Michael|  2900|           50|       122|
|        135|        Ki|  2400|           50|       122|
|        136|     Hazel|  2200|           50|       122|
|        137|    Renske|  3600|           50|       123|
+-----------+----------+------+-------------+----------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|SH_CLERK|  2600|          null|       124|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+

+----------+------+
|FIRST_NAME|SALARY|
+----------+------+
|  Jennifer|  4400|
|     David|  4800|
|     Valli|  4800|
|     Diana|  4200|
| Alexander|  3100|
|     Julia|  3200|
|     Laura|  3300|
|     Jason|  3300|
|    Renske|  3600|
|   Stephen|  3200|
+----------+------+

+---------------------------+
|substring(FIRST_NAME, 1, 2)|
+---------------------------+
|                         Do|
|                         Do|
|                         Je|
|                         Mi|
|                         Pa|
|                         Su|
|                         He|
|                         Sh|
|                         Wi|
|                         St|
|                         Ne|
|                         Le|
|                         Al|
|                         Br|
|                         Da|
|                         Va|
|                         Di|
|                         Na|
|                         Da|
|                         Jo|
+---------------------------+
only showing top 20 rows

In [0]:
# GROUP BY & AGGREGATES

# Group by & aggregate
df1.groupBy(df1.FIRST_NAME).count().show()
df1.groupBy(df1.FIRST_NAME).avg().show()
df1.groupBy(df1.FIRST_NAME).max().show()
  
# Group by with select & filter & order by
df1.groupBy('DEPARTMENT_ID').agg(sum('SALARY').alias("TOTAL_SALARY_DEPT")).filter(df1.DEPARTMENT_ID != 50).sort(df1.DEPARTMENT_ID.desc()).show()

+-----------+-----+
| FIRST_NAME|count|
+-----------+-----+
|      Neena|    1|
|     Shelli|    1|
|      James|    2|
|      Jason|    1|
|    Shelley|    1|
|    Matthew|    1|
|   Jennifer|    1|
|Jose Manuel|    1|
|      Diana|    1|
|     Ismael|    1|
|      Mozhe|    1|
|    Hermann|    1|
|    Michael|    2|
|      Susan|    1|
|        Pat|    1|
|        Guy|    1|
|      Julia|    1|
|      Irene|    1|
|     Joshua|    1|
|     Donald|    1|
+-----------+-----+
only showing top 20 rows

+-----------+----------------+-----------+---------------+------------------+
| FIRST_NAME|avg(EMPLOYEE_ID)|avg(SALARY)|avg(MANAGER_ID)|avg(DEPARTMENT_ID)|
+-----------+----------------+-----------+---------------+------------------+
|      Neena|           101.0|    17000.0|          100.0|              90.0|
|     Shelli|           116.0|     2900.0|          114.0|              30.0|
|      James|           129.0|     2450.0|          120.5|              50.0|
|      Jason|           133.0|     3300.0|          122.0|              50.0|
|    Shelley|           205.0|    12008.0|          101.0|             110.0|
|    Matthew|           120.0|     8000.0|          100.0|              50.0|
|   Jennifer|           200.0|     4400.0|          101.0|              10.0|
|Jose Manuel|           112.0|     7800.0|          108.0|             100.0|
|      Diana|           107.0|     4200.0|          103.0|              60.0|
|     Ismael|           111.0|     7700.0|          108.0|             100.0|
|      Mozhe|           130.0|     2800.0|          121.0|              50.0|
|    Hermann|           204.0|    10000.0|          101.0|              70.0|
|    Michael|           167.5|     7950.0|          111.0|              35.0|
|      Susan|           203.0|     6500.0|          101.0|              40.0|
|        Pat|           202.0|     6000.0|          201.0|              20.0|
|        Guy|           118.0|     2600.0|          114.0|              30.0|
|      Julia|           125.0|     3200.0|          120.0|              50.0|
|      Irene|           126.0|     2700.0|          120.0|              50.0|
|     Joshua|           140.0|     2500.0|          123.0|              50.0|
|     Donald|           198.0|     2600.0|          124.0|              50.0|
+-----------+----------------+-----------+---------------+------------------+
only showing top 20 rows

+-----------+----------------+-----------+---------------+------------------+
| FIRST_NAME|max(EMPLOYEE_ID)|max(SALARY)|max(MANAGER_ID)|max(DEPARTMENT_ID)|
+-----------+----------------+-----------+---------------+------------------+
|      Neena|             101|      17000|            100|                90|
|     Shelli|             116|       2900|            114|                30|
|      James|             131|       2500|            121|                50|
|      Jason|             133|       3300|            122|                50|
|    Shelley|             205|      12008|            101|               110|
|    Matthew|             120|       8000|            100|                50|
|   Jennifer|             200|       4400|            101|                10|
|Jose Manuel|             112|       7800|            108|               100|
|      Diana|             107|       4200|            103|                60|
|     Ismael|             111|       7700|            108|               100|
|      Mozhe|             130|       2800|            121|                50|
|    Hermann|             204|      10000|            101|                70|
|    Michael|             201|      13000|            122|                50|
|      Susan|             203|       6500|            101|                40|
|        Pat|             202|       6000|            201|                20|
|        Guy|             118|       2600|            114|                30|
|      Julia|             125|       3200|            120|                50|
|      Irene|             126|       2700|            120|                50|
|     Joshua|             140|       2500|            123|                50|
|     Donald|             198|       2600|            124|                50|
+-----------+----------------+-----------+---------------+------------------+
only showing top 20 rows

+-------------+-----------------+
|DEPARTMENT_ID|TOTAL_SALARY_DEPT|
+-------------+-----------------+
|          110|            20308|
|          100|            51608|
|           90|            58000|
|           70|            10000|
|           60|            28800|
|           40|             6500|
|           30|            24900|
|           20|            19000|
|           10|             4400|
+-------------+-----------------+

In [0]:
# JOINS

# Inner join
df_inner_join1 = df1.join(df2, df1.DEPARTMENT_ID == df2.DEPARTMENT_ID, 'inner').sort(df1.FIRST_NAME.asc())
df_inner_join1.show()

# Inner join with select, filter, order by
df_inner_join2 = df1.join(df2, df1.DEPARTMENT_ID == df2.DEPARTMENT_ID, 'inner').filter(df1.DEPARTMENT_ID == 50).select(df1.EMPLOYEE_ID, df1.FIRST_NAME, df2.DEPARTMENT_ID).sort(df1.FIRST_NAME.asc())
df_inner_join2.show()

# Left join, the df1 is the 'left' table here
df_left_join1 = df1.join(df2, df1.DEPARTMENT_ID == df2.DEPARTMENT_ID, 'left').sort(df1.FIRST_NAME.asc())
df_left_join1.show()

# Right join, the df2 is the 'right' table here
df_right_join1 = df1.join(df2, df1.DEPARTMENT_ID == df2.DEPARTMENT_ID, 'right').sort(df1.FIRST_NAME.asc())
df_right_join1.show()

# full join
df_full_join1 = df1.join(df2, df1.DEPARTMENT_ID == df2.DEPARTMENT_ID, 'full').sort(df1.FIRST_NAME.asc())
df_full_join1.show()

+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID| DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|        121|      Adam|      Fripp|  AFRIPP|650.123.2234|10-APR-05|    ST_MAN|  8200|          null|       100|           50|           50|        Shipping|       121|       1500|
|        103| Alexander|     Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|           60|              IT|       103|       1400|
|        115| Alexander|       Khoo|   AKHOO|515.127.4562|18-MAY-03|  PU_CLERK|  3100|          null|       114|           30|           30|      Purchasing|       114|       1700|
|        104|     Bruce|      Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|           60|              IT|       103|       1400|
|        109|    Daniel|     Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|          100|         Finance|       108|       1700|
|        105|     David|     Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|           60|              IT|       103|       1400|
|        114|       Den|   Raphaely|DRAPHEAL|515.127.4561|07-DEC-02|    PU_MAN| 11000|          null|       100|           30|           30|      Purchasing|       114|       1700|
|        107|     Diana|    Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|           60|              IT|       103|       1400|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|           50|        Shipping|       121|       1500|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|           50|        Shipping|       121|       1500|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565|15-NOV-06|  PU_CLERK|  2600|          null|       114|           30|           30|      Purchasing|       114|       1700|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634|06-FEB-08|  ST_CLERK|  2200|          null|       122|           50|           50|        Shipping|       121|       1500|
|        204|   Hermann|       Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|           70|Public Relations|       204|       2700|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224|28-SEP-06|  ST_CLERK|  2700|          null|       120|           50|           50|        Shipping|       121|       1500|
|        111|    Ismael|    Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|          null|       108|          100|          100|         Finance|       108|       1700|
|        127|     James|     Landry| JLANDRY|650.124.1334|14-JAN-07|  ST_CLERK|  2400|          null|       120|           50|           50|        Shipping|       121|       1500|
|        131|     James|     Marlow| JAMRLOW|650.124.7234|16-FEB-05|  ST_CLERK|  2500|          null|       121|           50|           50|        Shipping|       121|       1500|
|        133|     Jason|     Mallin| JMALLIN|650.127.1934|14-JUN-04|  ST_CLERK|  3300|          null|       122|           50|           50|        Shipping|       121|       1500|
|        200|  Jennifer|     Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|           10|  Administration|       200|       1700|
|        110|      John|       Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|          100|         Finance|       108|       1700|
+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
only showing top 20 rows

+-----------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|DEPARTMENT_ID|
+-----------+----------+-------------+
|        121|      Adam|           50|
|        198|    Donald|           50|
|        199|   Douglas|           50|
|        136|     Hazel|           50|
|        126|     Irene|           50|
|        127|     James|           50|
|        131|     James|           50|
|        133|     Jason|           50|
|        139|      John|           50|
|        140|    Joshua|           50|
|        125|     Julia|           50|
|        124|     Kevin|           50|
|        135|        Ki|           50|
|        129|     Laura|           50|
|        120|   Matthew|           50|
|        134|   Michael|           50|
|        130|     Mozhe|           50|
|        122|     Payam|           50|
|        137|    Renske|           50|
|        123|    Shanta|           50|
+-----------+----------+-------------+
only showing top 20 rows

+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|  LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID| DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
|        121|      Adam|      Fripp|  AFRIPP|650.123.2234|10-APR-05|    ST_MAN|  8200|          null|       100|           50|           50|        Shipping|       121|       1500|
|        103| Alexander|     Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|           60|              IT|       103|       1400|
|        115| Alexander|       Khoo|   AKHOO|515.127.4562|18-MAY-03|  PU_CLERK|  3100|          null|       114|           30|           30|      Purchasing|       114|       1700|
|        104|     Bruce|      Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|           60|              IT|       103|       1400|
|        109|    Daniel|     Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|          100|         Finance|       108|       1700|
|        105|     David|     Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|           60|              IT|       103|       1400|
|        114|       Den|   Raphaely|DRAPHEAL|515.127.4561|07-DEC-02|    PU_MAN| 11000|          null|       100|           30|           30|      Purchasing|       114|       1700|
|        107|     Diana|    Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|           60|              IT|       103|       1400|
|        198|    Donald|   OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|           50|        Shipping|       121|       1500|
|        199|   Douglas|      Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|           50|        Shipping|       121|       1500|
|        118|       Guy|     Himuro| GHIMURO|515.127.4565|15-NOV-06|  PU_CLERK|  2600|          null|       114|           30|           30|      Purchasing|       114|       1700|
|        136|     Hazel| Philtanker|HPHILTAN|650.127.1634|06-FEB-08|  ST_CLERK|  2200|          null|       122|           50|           50|        Shipping|       121|       1500|
|        204|   Hermann|       Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|           70|Public Relations|       204|       2700|
|        126|     Irene|Mikkilineni|IMIKKILI|650.124.1224|28-SEP-06|  ST_CLERK|  2700|          null|       120|           50|           50|        Shipping|       121|       1500|
|        111|    Ismael|    Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|          null|       108|          100|          100|         Finance|       108|       1700|
|        127|     James|     Landry| JLANDRY|650.124.1334|14-JAN-07|  ST_CLERK|  2400|          null|       120|           50|           50|        Shipping|       121|       1500|
|        131|     James|     Marlow| JAMRLOW|650.124.7234|16-FEB-05|  ST_CLERK|  2500|          null|       121|           50|           50|        Shipping|       121|       1500|
|        133|     Jason|     Mallin| JMALLIN|650.127.1934|14-JUN-04|  ST_CLERK|  3300|          null|       122|           50|           50|        Shipping|       121|       1500|
|        200|  Jennifer|     Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|           10|  Administration|       200|       1700|
|        110|      John|       Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|          100|         Finance|       108|       1700|
+-----------+----------+-----------+--------+------------+---------+----------+------+--------------+----------+-------------+-------------+----------------+----------+-----------+
only showing top 20 rows

+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|           80|               Sales|       145|       2500|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          120|            Treasury|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          130|       Corporate Tax|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          140|  Control And Credit|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          150|Shareholder Services|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          160|            Benefits|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          170|       Manufacturing|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          180|        Construction|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          190|         Contracting|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          200|          Operations|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          210|          IT Support|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          220|                 NOC|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          230|         IT Helpdesk|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          240|    Government Sales|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          250|        Retail Sales|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          260|          Recruiting|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          270|             Payroll|        - |       1700|
|        121|      Adam|    Fripp| AFRIPP|650.123.2234|10-APR-05|  ST_MAN|  8200|          null|       100|           50|           50|            Shipping|       121|       1500|
|        115| Alexander|     Khoo|  AKHOO|515.127.4562|18-MAY-03|PU_CLERK|  3100|          null|       114|           30|           30|          Purchasing|       114|       1700|
|        103| Alexander|   Hunold|AHUNOLD|590.423.4567|03-JAN-06| IT_PROG|  9000|          null|       102|           60|           60|                  IT|       103|       1400|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
only showing top 20 rows

+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|  EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|DEPARTMENT_ID|     DEPARTMENT_NAME|MANAGER_ID|LOCATION_ID|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|           80|               Sales|       145|       2500|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          120|            Treasury|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          130|       Corporate Tax|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          140|  Control And Credit|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          150|Shareholder Services|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          160|            Benefits|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          170|       Manufacturing|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          180|        Construction|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          190|         Contracting|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          200|          Operations|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          210|          IT Support|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          220|                 NOC|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          230|         IT Helpdesk|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          240|    Government Sales|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          250|        Retail Sales|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          260|          Recruiting|        - |       1700|
|       null|      null|     null|   null|        null|     null|    null|  null|          null|      null|         null|          270|             Payroll|        - |       1700|
|        121|      Adam|    Fripp| AFRIPP|650.123.2234|10-APR-05|  ST_MAN|  8200|          null|       100|           50|           50|            Shipping|       121|       1500|
|        115| Alexander|     Khoo|  AKHOO|515.127.4562|18-MAY-03|PU_CLERK|  3100|          null|       114|           30|           30|          Purchasing|       114|       1700|
|        103| Alexander|   Hunold|AHUNOLD|590.423.4567|03-JAN-06| IT_PROG|  9000|          null|       102|           60|           60|                  IT|       103|       1400|
+-----------+----------+---------+-------+------------+---------+--------+------+--------------+----------+-------------+-------------+--------------------+----------+-----------+
only showing top 20 rows

In [0]:
# ORDER BY
df1.filter(df1.DEPARTMENT_ID == 50).select('EMPLOYEE_ID', 'FIRST_NAME', 'DEPARTMENT_ID').sort('EMPLOYEE_ID', asc = True).show()

+-----------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|DEPARTMENT_ID|
+-----------+----------+-------------+
|        120|   Matthew|           50|
|        121|      Adam|           50|
|        122|     Payam|           50|
|        123|    Shanta|           50|
|        124|     Kevin|           50|
|        125|     Julia|           50|
|        126|     Irene|           50|
|        127|     James|           50|
|        128|    Steven|           50|
|        129|     Laura|           50|
|        130|     Mozhe|           50|
|        131|     James|           50|
|        132|        TJ|           50|
|        133|     Jason|           50|
|        134|   Michael|           50|
|        135|        Ki|           50|
|        136|     Hazel|           50|
|        137|    Renske|           50|
|        138|   Stephen|           50|
|        139|      John|           50|
+-----------+----------+-------------+
only showing top 20 rows

In [0]:
# INSERT ROWS

# Create columns identical to the table to be inserted
columns = ['EMPLOYEE_ID', 'FIRST_NAME', 'LAST_NAME', 'EMAIL', 'PHONE_NUMBER', 'HIRE_DATE', 'JOB_ID', 'SALARY', 'COMMISSION_PCT', 'MANAGER_ID', 'DEPARTMENT_ID']

# Create data to be inserted
new_row = spark.createDataFrame([(285, 'Mickey', 'Mouse', 'MICKEY', '505.122.333', '02-FEB-09', 'ST_CLERK', 2000, 10 , 103, 50)], columns)
new_row.show()

# Add new rows to existing df using union
df_insert1 = df1.union(new_row)
df_insert1.filter((df1.FIRST_NAME == 'Mickey') | (df1.FIRST_NAME == 'Donald')).show()

+-----------+----------+---------+------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME| EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+------+------------+---------+--------+------+--------------+----------+-------------+
|        285|    Mickey|    Mouse|MICKEY| 505.122.333|02-FEB-09|ST_CLERK|  2000|            10|       103|           50|
+-----------+----------+---------+------+------------+---------+--------+------+--------------+----------+-------------+

+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|  JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|SH_CLERK|  2600|          null|       124|           50|
|        285|    Mickey|    Mouse|  MICKEY| 505.122.333|02-FEB-09|ST_CLERK|  2000|            10|       103|           50|
+-----------+----------+---------+--------+------------+---------+--------+------+--------------+----------+-------------+

In [0]:
# UPDATE ROWS

# Update rows, when Donald then update Donald2, when Jennifer then update to Jennifer2
df1.show()
df_update1 = df1.withColumn("FIRST_NAME", when(df1.FIRST_NAME == "Donald","Donald2").when(df1.FIRST_NAME == "Jennifer","Jennifer2").otherwise(df1.FIRST_NAME))
df_update1.show()

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|    Donald| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200|  Jennifer|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID|FIRST_NAME|LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        198|   Donald2| OConnell|DOCONNEL|650.507.9833|21-JUN-07|  SH_CLERK|  2600|          null|       124|           50|
|        199|   Douglas|    Grant|  DGRANT|650.507.9844|13-JAN-08|  SH_CLERK|  2600|          null|       124|           50|
|        200| Jennifer2|   Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|   Michael|Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|       Pat|      Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|     Susan|   Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|   Hermann|     Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|   Shelley|  Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|   William|    Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        100|    Steven|     King|   SKING|515.123.4567|17-JUN-03|   AD_PRES| 24000|          null|      null|           90|
|        101|     Neena|  Kochhar|NKOCHHAR|515.123.4568|21-SEP-05|     AD_VP| 17000|          null|       100|           90|
|        102|       Lex|  De Haan| LDEHAAN|515.123.4569|13-JAN-01|     AD_VP| 17000|          null|       100|           90|
|        103| Alexander|   Hunold| AHUNOLD|590.423.4567|03-JAN-06|   IT_PROG|  9000|          null|       102|           60|
|        104|     Bruce|    Ernst|  BERNST|590.423.4568|21-MAY-07|   IT_PROG|  6000|          null|       103|           60|
|        105|     David|   Austin| DAUSTIN|590.423.4569|25-JUN-05|   IT_PROG|  4800|          null|       103|           60|
|        106|     Valli|Pataballa|VPATABAL|590.423.4560|05-FEB-06|   IT_PROG|  4800|          null|       103|           60|
|        107|     Diana|  Lorentz|DLORENTZ|590.423.5567|07-FEB-07|   IT_PROG|  4200|          null|       103|           60|
|        108|     Nancy|Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|    Daniel|   Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|      John|     Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
+-----------+----------+---------+--------+------------+---------+----------+------+--------------+----------+-------------+
only showing top 20 rows

In [0]:
# DELETE ROWS

# You can just use filter the df and assign it to a new df since it will not include those rows
df_delete_rows = df1.filter((df1.DEPARTMENT_ID != 60) & (df1.DEPARTMENT_ID != 50) & (df1.DEPARTMENT_ID != 90))
df_delete_rows.show()

+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|EMPLOYEE_ID| FIRST_NAME| LAST_NAME|   EMAIL|PHONE_NUMBER|HIRE_DATE|    JOB_ID|SALARY|COMMISSION_PCT|MANAGER_ID|DEPARTMENT_ID|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+
|        200|   Jennifer|    Whalen| JWHALEN|515.123.4444|17-SEP-03|   AD_ASST|  4400|          null|       101|           10|
|        201|    Michael| Hartstein|MHARTSTE|515.123.5555|17-FEB-04|    MK_MAN| 13000|          null|       100|           20|
|        202|        Pat|       Fay|    PFAY|603.123.6666|17-AUG-05|    MK_REP|  6000|          null|       201|           20|
|        203|      Susan|    Mavris| SMAVRIS|515.123.7777|07-JUN-02|    HR_REP|  6500|          null|       101|           40|
|        204|    Hermann|      Baer|   HBAER|515.123.8888|07-JUN-02|    PR_REP| 10000|          null|       101|           70|
|        205|    Shelley|   Higgins|SHIGGINS|515.123.8080|07-JUN-02|    AC_MGR| 12008|          null|       101|          110|
|        206|    William|     Gietz|  WGIETZ|515.123.8181|07-JUN-02|AC_ACCOUNT|  8300|          null|       205|          110|
|        108|      Nancy| Greenberg|NGREENBE|515.124.4569|17-AUG-02|    FI_MGR| 12008|          null|       101|          100|
|        109|     Daniel|    Faviet| DFAVIET|515.124.4169|16-AUG-02|FI_ACCOUNT|  9000|          null|       108|          100|
|        110|       John|      Chen|   JCHEN|515.124.4269|28-SEP-05|FI_ACCOUNT|  8200|          null|       108|          100|
|        111|     Ismael|   Sciarra|ISCIARRA|515.124.4369|30-SEP-05|FI_ACCOUNT|  7700|          null|       108|          100|
|        112|Jose Manuel|     Urman| JMURMAN|515.124.4469|07-MAR-06|FI_ACCOUNT|  7800|          null|       108|          100|
|        113|       Luis|      Popp|   LPOPP|515.124.4567|07-DEC-07|FI_ACCOUNT|  6900|          null|       108|          100|
|        114|        Den|  Raphaely|DRAPHEAL|515.127.4561|07-DEC-02|    PU_MAN| 11000|          null|       100|           30|
|        115|  Alexander|      Khoo|   AKHOO|515.127.4562|18-MAY-03|  PU_CLERK|  3100|          null|       114|           30|
|        116|     Shelli|     Baida|  SBAIDA|515.127.4563|24-DEC-05|  PU_CLERK|  2900|          null|       114|           30|
|        117|      Sigal|    Tobias| STOBIAS|515.127.4564|24-JUL-05|  PU_CLERK|  2800|          null|       114|           30|
|        118|        Guy|    Himuro| GHIMURO|515.127.4565|15-NOV-06|  PU_CLERK|  2600|          null|       114|           30|
|        119|      Karen|Colmenares|KCOLMENA|515.127.4566|10-AUG-07|  PU_CLERK|  2500|          null|       114|           30|
+-----------+-----------+----------+--------+------------+---------+----------+------+--------------+----------+-------------+

In [0]:
# REPARTITION
    # Returns a new DataFrame partitioned by the given partitioning expressions. The resulting DataFrame is hash partitioned.

# Repartition by number of partitions
df_repartition1 = df1.repartition(5)
df_repartition1.rdd.getNumPartitions()

# Repartition by column name/s
df_repartition2 = df1.repartition('EMPLOYEE_ID', 'FIRST_NAME')
df_repartition2.rdd.getNumPartitions()

# Repartition by column name & specify number of partitions
df_repartition3 = df1.repartition(5, 'EMPLOYEE_ID')
df_repartition3.rdd.getNumPartitions()

Out[217]: 5

In [0]:
# PARTITIONBY
    # Partitions the output by the given columns on the file system.

# df1.write.partitionBy('FIRST_NAME').mode("overwrite").format("csv")

In [0]:
# WRITE TO FILES
# OPTIONS WHEN WRITING TO FILES
# WRITE OPTIONS:
    # overwrite – mode is used to overwrite the existing file.
    # append – To add the data to the existing file.
    # ignore – Ignores write operation when the file already exists.
    # error – This is a default option when the file already exists, it returns an error.

df1.write.option('header',True).mode('overwrite').csv('/FileStore/tables/employees_new2.csv')